

.body {
    background-color: #D2982D;
}
/* nav bar */
.nav-color a{
    color: #ffffff;
    transition: all 0.5s ease-out;
}
.nav-color a:hover {
    color: #F5B747;
}
.navbar-toggler {
    --bs-navbar-toggler-border-color: #D2982D;
}
.navbar_toggle_color {
    color: #ffffff;
}
.navbar-toggler:focus {
    box-shadow: none;
    --bs-navbar-toggler-focus-width: none;
}
/* section */
.btn_dark {
    background: #2B261D;
    color: #ffffff;
    border-radius: 0.3rem;
    border: 1px solid #000000;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: all 0.5s ease-out;
}
.btn_dark:hover {
    background: #000000;
}
.btn_warning {
    background: #e7a530;
    color: #000000;
    border: 1px solid #e7a530;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: all 0.5s ease-out;
}
.btn_warning:hover {
    background: #D2982D;
    color: #ffffff;
}
/* */
.bg_position {
    position: relative;
    bottom: 16rem;
}
.bg_absolute {
    position: absolute;
}
/* section */
.vector-1 {
    background-image: url("./img/Divider.png");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat repeat;
    color: #ffffff;
    margin-bottom: 0;
}
.accordion-item {
    --bs-accordion-bg: #D2982D;
    --bs-accordion-color: #ffffff;
    --bs-accordion-btn-bg: #D2982D;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-active-bg: #D2982D;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-border-color: #D2982D;
    --bs-accordion-btn-focus-box-shadow: #D2982D;
}
.lin {
    color: #F5B747;
}
/* footer */
.footer_bg {
    background-image: url("img/Vector footer.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5rem;
}
.icon a {
    padding: 0;
}
.footer-icon i:hover {
    color: #ffc107;
}
.face {
    width: 36px;
}
.instagram_icon {
    width: 30px;
}
.link {
    padding: 4px;
    text-decoration: none;
    color: #F5B747;
    transition: all 0.5s ease-out;
}
.link:hover {
    color: #ffffff;
}
.input-bg {
    background: #E0A12E;
    border: none;
    color: #ffffff;
    padding-left: 0.5rem;
}
.input-bg::placeholder {
    color: #ffffff;
}
.input-bg:focus {
    outline: none;
}
/* 1400px */
@media only screen and (max-width: 1400px) {
    .bg_position {
        bottom: 14rem;
    }
}
/* 992px */
@media only screen and (max-width: 992px) {
    .text_center {
        text-align: center;
    }
    div.section-2 {
        visibility: hidden;
        height: 10rem;
    }
    .carousels {
        margin-top: 3rem;
    }
    .bg_position {
        bottom: 0.5rem;
    }
    div.carousel_1 {
        margin-top: 10rem;
    }
    div.carousel_2 {
        visibility: hidden;
        height: 2rem;
    }
}
/* 768px */
@media only screen and (max-width: 768px) {
    .text_cen {
        text-align: center;
    }
    .bg_position {
        bottom: 0;
    }
    div.carousel_1 {
        margin-top: 6rem;
    }
}