.colors {
    color: white;
}
.shop-b {
    background: #e7a530;
    color: #000000;
    border: 1px solid #e7a530;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: all 0.5s ease-out;
}
.shop-b:hover {
    background-color: #D2982D;
    border: 1px solid #ffc107;
    color: #ffffff;
}
.shop-d {
    background: #e7a530;
    color: #000000;
    border: 1px solid #e7a530;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: all 0.5s ease-out;
    text-transform: uppercase;
}
.shop-d:hover {
    background: #D2982D;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.input-check label {
    cursor: pointer;
}
.switch-label {
    margin: 0 10px 0 10px;
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
}
.switch-label::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #424242;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s;
}
input[type="checkbox"]:checked + .switch-label::after {
    transform: translateX(30px);
}
.card-body {
    min-height: 21rem;
}
.warning div{
    background-color: #E0A12E;
    border: none;
    border-radius: 20px;
}
.warning:hover {
    scale: 1.05;
}

